--extra-index-url https://download.pytorch.org/whl/cu118
-f https://data.pyg.org/whl/torch-2.7.0+cu118.html

numpy>=2.0,<3
networkx>=3.0,<4
tqdm>=4.67,<5
hydra-core>=1.3,<2
omegaconf>=2.3,<3
mlflow>=3.0,<4
torch>=2.7,<2.8
torchvision>=0.22,<0.23
torch-geometric>=2.7,<3
torch-scatter>=2.1.2,<2.2
rdkit>=2024.3,<2027
torchmetrics>=1.7,<2
torcheval>=0.0.7,<0.1
ogb>=1.3.6,<2
scikit-learn>=1.6,<2
scipy>=1.14,<2
dal_toolbox @ git+https://github.com/dhuseljic/dal-toolbox.git@e9bf05ca9d1999b831522602f1d64f584b9e928e
pytest>=9.0,<10
pytest-cov>=7.0,<8
-e .
